### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

.idea/
.idea/workspace.xml

target/bikeflow-local-v2-1.0.0.jar
target/bikeflow-local-v2-1.0.0.jar.original
target/maven-archiver/
target/maven-status/
target/surefire-reports/
target/test-classes/
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/classes/application.properties
target/test-classes/sk/stuba/fiit/bikeflow/rental/application/RentalServiceTest.class
src/main/resources/application.properties
.idea/misc.xml
.idea/workspace.xml